<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdprLozanoApp.versionLey.home.title">Version Leys</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-version-ley" [routerLink]="['/version-ley/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gdprLozanoApp.versionLey.home.createLabel">
            Create new Version Ley
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="versionLeys">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gdprLozanoApp.versionLey.version">Version</span></th>
            <th><span jhiTranslate="gdprLozanoApp.versionLey.fechaDesde">Fecha Desde</span></th>
            <th><span jhiTranslate="gdprLozanoApp.versionLey.ley">Ley</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let versionLey of versionLeys ;trackBy: trackId">
                <td><a [routerLink]="['/version-ley', versionLey.id, 'view' ]">{{versionLey.id}}</a></td>
                <td>{{versionLey.version}}</td>
                <td>{{versionLey.fechaDesde | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="versionLey.ley">
                        <a [routerLink]="['../ley', versionLey.ley?.id, 'view' ]" >{{versionLey.ley?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/version-ley', versionLey.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/version-ley', versionLey.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'version-ley', { outlets: { popup: versionLey.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
