<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdprLozanoApp.ley.home.title">Leys</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ley" [routerLink]="['/ley/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gdprLozanoApp.ley.home.createLabel">
            Create new Ley
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="leys">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gdprLozanoApp.ley.codigo">Codigo</span></th>
            <th><span jhiTranslate="gdprLozanoApp.ley.tipologia">Tipologia</span></th>
            <th><span jhiTranslate="gdprLozanoApp.ley.requiereAnonimizacion">Requiere Anonimizacion</span></th>
            <th><span jhiTranslate="gdprLozanoApp.ley.plazoAnonimizado">Plazo Anonimizado</span></th>
            <th><span jhiTranslate="gdprLozanoApp.ley.aplicaAPais">Aplica A Pais</span></th>
            <th><span jhiTranslate="gdprLozanoApp.ley.codPais">Cod Pais</span></th>
            <th><span jhiTranslate="gdprLozanoApp.ley.tipoLey">Tipo Ley</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ley of leys ;trackBy: trackId">
                <td><a [routerLink]="['/ley', ley.id, 'view' ]">{{ley.id}}</a></td>
                <td>{{ley.codigo}}</td>
                <td jhiTranslate="{{'gdprLozanoApp.Tipologia.' + ley.tipologia}}">{{ley.tipologia}}</td>
                <td>{{ley.requiereAnonimizacion}}</td>
                <td>{{ley.plazoAnonimizado}}</td>
                <td>{{ley.aplicaAPais}}</td>
                <td>{{ley.codPais}}</td>
                <td>
                    <div *ngIf="ley.tipoLey">
                        <a [routerLink]="['../tipo-ley', ley.tipoLey?.id, 'view' ]" >{{ley.tipoLey?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ley', ley.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ley', ley.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ley', { outlets: { popup: ley.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
