<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="versionLeyInt">
            <h2><span jhiTranslate="gdprLozanoApp.versionLeyInt.detail.title">Version Ley Int</span> {{versionLeyInt.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gdprLozanoApp.versionLeyInt.codLanguage">Cod Language</span></dt>
                <dd>
                    <span>{{versionLeyInt.codLanguage}}</span>
                </dd>
                <dt><span jhiTranslate="gdprLozanoApp.versionLeyInt.nombre">Nombre</span></dt>
                <dd>
                    <span>{{versionLeyInt.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="gdprLozanoApp.versionLeyInt.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{versionLeyInt.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="gdprLozanoApp.versionLeyInt.versionLey">Version Ley</span></dt>
                <dd>
                    <div *ngIf="versionLeyInt.versionLey">
                        <a [routerLink]="['/version-ley', versionLeyInt.versionLey?.id, 'view']">{{versionLeyInt.versionLey?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gdprLozanoApp.versionLeyInt.language">Language</span></dt>
                <dd>
                    <div *ngIf="versionLeyInt.language">
                        <a [routerLink]="['/language', versionLeyInt.language?.id, 'view']">{{versionLeyInt.language?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/version-ley-int', versionLeyInt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
