<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdprLozanoApp.subscripcionInt.home.title">Subscripcion Ints</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subscripcion-int" [routerLink]="['/subscripcion-int/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gdprLozanoApp.subscripcionInt.home.createLabel">
            Create new Subscripcion Int
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="subscripcionInts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gdprLozanoApp.subscripcionInt.codLanguage">Cod Language</span></th>
            <th><span jhiTranslate="gdprLozanoApp.subscripcionInt.nombre">Nombre</span></th>
            <th><span jhiTranslate="gdprLozanoApp.subscripcionInt.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="gdprLozanoApp.subscripcionInt.subscripcion">Subscripcion</span></th>
            <th><span jhiTranslate="gdprLozanoApp.subscripcionInt.language">Language</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subscripcionInt of subscripcionInts ;trackBy: trackId">
                <td><a [routerLink]="['/subscripcion-int', subscripcionInt.id, 'view' ]">{{subscripcionInt.id}}</a></td>
                <td>{{subscripcionInt.codLanguage}}</td>
                <td>{{subscripcionInt.nombre}}</td>
                <td>{{subscripcionInt.descripcion}}</td>
                <td>
                    <div *ngIf="subscripcionInt.subscripcion">
                        <a [routerLink]="['../subscripcion', subscripcionInt.subscripcion?.id, 'view' ]" >{{subscripcionInt.subscripcion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="subscripcionInt.language">
                        <a [routerLink]="['../language', subscripcionInt.language?.id, 'view' ]" >{{subscripcionInt.language?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/subscripcion-int', subscripcionInt.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/subscripcion-int', subscripcionInt.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'subscripcion-int', { outlets: { popup: subscripcionInt.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
