<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdprLozanoApp.agrupacion.home.title">Agrupacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agrupacion" [routerLink]="['/agrupacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gdprLozanoApp.agrupacion.home.createLabel">
            Create new Agrupacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agrupacions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gdprLozanoApp.agrupacion.codigo">Codigo</span></th>
            <th><span jhiTranslate="gdprLozanoApp.agrupacion.nombre">Nombre</span></th>
            <th><span jhiTranslate="gdprLozanoApp.agrupacion.leyes">Leyes</span></th>
            <th><span jhiTranslate="gdprLozanoApp.agrupacion.operaciones">Operaciones</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agrupacion of agrupacions ;trackBy: trackId">
                <td><a [routerLink]="['/agrupacion', agrupacion.id, 'view' ]">{{agrupacion.id}}</a></td>
                <td>{{agrupacion.codigo}}</td>
                <td>{{agrupacion.nombre}}</td>
                <td>
                    <span *ngFor="let leyes of agrupacion.leyes; let last = last">
                            <a class="form-control-static" [routerLink]="['../ley', leyes?.id, 'view' ]">{{leyes.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="agrupacion.operaciones">
                        <a [routerLink]="['../operacion', agrupacion.operaciones?.id, 'view' ]" >{{agrupacion.operaciones?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agrupacion', agrupacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agrupacion', agrupacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'agrupacion', { outlets: { popup: agrupacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
