<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdprLozanoApp.operacion.home.title">Operacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operacion" [routerLink]="['/operacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gdprLozanoApp.operacion.home.createLabel">
            Create new Operacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="operacions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gdprLozanoApp.operacion.codigo">Codigo</span></th>
            <th><span jhiTranslate="gdprLozanoApp.operacion.wsAsociado">Ws Asociado</span></th>
            <th><span jhiTranslate="gdprLozanoApp.operacion.tipo">Tipo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operacion of operacions ;trackBy: trackId">
                <td><a [routerLink]="['/operacion', operacion.id, 'view' ]">{{operacion.id}}</a></td>
                <td>{{operacion.codigo}}</td>
                <td>{{operacion.wsAsociado}}</td>
                <td jhiTranslate="{{'gdprLozanoApp.TipoOperacion.' + operacion.tipo}}">{{operacion.tipo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/operacion', operacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/operacion', operacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'operacion', { outlets: { popup: operacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
